networks:
  algafood-network:
    driver: bridge
    
services:
  algafood-postgres:
    image: postgres
    environment: 
      POSTGRES_DB: algafood
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - algafood-network
   
  algafood-api:
    image: algafood-api
    command: [ "/wait-for-it.sh", "algafood-postgres:5432", "-t", "30", "--", "java", "-jar", "api.jar" ]
    environment:
      DB_HOST: algafood-postgres
    networks:
      - algafood-network
    depends_on:
      - algafood-postgres