networks:
  algafood-network:
    driver: bridge
    
services:
  algafood-postgres:
    image: postgres
    environment: 
      POSTGRES_DB: algafood
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - algafood-network
      
  algafood-redis:
    image: redis:7.0.8-alpine
    networks:
      - algafood-network
   
  algafood-api:
    image: algafood-api
    command: [ "/wait-for-it.sh", "algafood-postgres:5432", "-t", "30", "--", "java", "-jar", "api.jar" ]
    environment:
      DB_HOST: algafood-postgres
      SPRING_SESSION_STORE_TYPE: redis
      SPRING_REDIS_HOST: algafood-redis
    networks:
      - algafood-network
    depends_on:
      - algafood-postgres
      
  algafood-proxy:
    build: ./nginx
    image: algafood-proxy
    ports:
      - "80:80"
    networks:
      - algafood-network
    depends_on:
      - algafood-api